.row {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

@media (max-width: 400px) {
  .row {
    flex-wrap: wrap;
  }
}

.col {
  flex: 40%;
  margin-bottom: 15px;
}

.col-left {
  flex: 60%;
  display: flex;
  margin-right: 20px;
}

.col-left p {
  font-size: 48px;
  color: #202124;
  display: flex;
  padding-left: 16px;
}

.col-left p span {
  align-self: flex-start;
  padding-top: 6px;
}

.col-left .units {
  font-size: 16px;
  line-height: 24px;
}

h1 {
  color: #202124;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
}

.WeatherInfo > ul {
  margin-top: 10px;
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}

form {
  margin-bottom: 10px;
  display: flex;
}

input {
  padding: 5px 15px;
}

.search-form {
  flex: 1 1 auto;
  margin-right: 20px;
}

.WeatherIcon {
  font-size: 64px;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not(.disabled):hover {
  text-decoration: underline;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  font-weight: 600;
}

.WeatherForecast {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
}

@media (max-width: 630px) {
  .WeatherForecast {
    overflow-x: scroll;
  }
}

.forecast-day {
  text-align: center;
  background-color: transparent;
  padding: 10px;
  border-radius: 8px;
  font-size: medium;
  color: #202124;
  transition: all 500ms ease;
  cursor: pointer;
  min-width: 95px;
}

.forecast-day.active,
.forecast-day:hover {
  background-color: #f8f9fa;
}

.forecast-day.active {
  pointer-events: none;
  cursor: default;
}

.forecast-day .WeatherIcon {
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #70757a;
}

.forecast-day .minimum {
  color: #70757a;
}
